mixin meta-data()
    meta(charset="UTF-8")
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(http-equiv="X-UA-Compatible" content="IE=7")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    |
    |
    meta(name="author" content="Khaled Mohamed")
    |
    |

mixin meta-desc(contentOfDescription)
    meta(name="description" content=contentOfDescription)
    |
    |

mixin meta-keywords(words)
    meta(name="keywords", content=words)
    |
    |
